ul.authors-links
  li
    a.author-link(href='/authors/Andrii') Andrii
  li
    a.author-link(href='/authors/Anton') Anton
  li
    a.author-link(href='/authors/Max') Max

a.author-link(href='/static') Static HTML page