section.footer
  ul.authors-links
    li
      a.author-link(href='/authors/Andrii') Andrii
    li
      a.author-link(href='/authors/Anton') Anton
    li
      a.author-link(href='/authors/Max') Max

  ul.authors-links
    li
      a.author-link(href='/static') Static HTML page
    li
      a.author-link(href='/') Home Page